<div id="post_content">
	<h1><%= @post.title %></h1>
	<p class="date">
		Submitted <%= time_ago_in_words(@post.created_at) %> ago
	</p>
	<p><%= @post.body %></p>
	<br>
	<div class="buttons">
		<button class="button"><%= link_to 'Edit Post', edit_post_path %></button>
		<button class="button"><%= link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete #{@post.title}'} %>
		</button>
	</div>
	<div id="comments">
		<h2><%= @post.comments.count %> Comments</h2>
		<%= render @post.comments %>
		<h3>Add a Comment:</h3>
		<%= render "comments/form" %>
	</div>
</div>






